legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
  }

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}